.main-content .container-header-main{
    background-color: white;
    height: 70px;
    margin: 10px;
    border-radius: 5px;
}
.main-content .navbar{
    padding: 0.2rem 0.3rem;
}

.main-content-header-right .navbar-collapse .navbar-nav .turn-home{
    margin-right: 30px;
}
.main-content-header-right .navbar-collapse .navbar-nav a{
    color: #78909C;
}
.main-content-header-right .navbar-collapse .navbar-nav .nav-item:hover{
    cursor: pointer;
}
.main-content .main-content-header-right .dropdown-menu-user{
    top:56px;
    left: -143px;
}
@media only screen and (max-width: 768px) {
    .main-content .container-header-main{
        height: 50px;
    }
    .container-header-main  .navbar-collapse .navbar-nav{
        flex-direction:row;
    }
    .container-header-main .fa-2x{
        font-size: 1.6em;
    }
    .container-header-main  .main-content-header-left .main-content-header-list{
        margin-left: 15px;
    }
    .container-header-main  .main-content-header-left  .main-content-search .focus{
        width: 42vw;
    }
    .container-header-main .header-user .header-user-item{
        width: 30px;
        height: 30px;
        font-size: 1.2em;
        padding-left: 11px;
    }
    .container-header-main .main-content-header-right  .header-notification-numbers{
        top: -5px;
        left: 18px;
        font-size: 0.7em;
        padding: 0px 2px;
    }
    .container-header-main .main-content-header-right  .header-notification{
        margin-right: 5px;
    }
    .main-content-header-right  .navbar-collapse .navbar-nav .turn-home {
        margin-right: 5px
    }
    .container-header-main .main-content-header-right  .header-user .dropdown-menu-user{
        font-size: 0.5em;
        position: absolute;
        top: 40px;
        left: -155px;
        width: 200px;
    }
    .container-header-main .main-content-header-right .header-notification-modal{
        top: 41px;
        right: -57px;
        width: 86vw;
    }
}
@media only screen and (min-width: 992px) {

}
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .container-header-main  .main-content-header-left .main-content-header-list{
        display: none;
    }
}
@media only screen and (min-width: 1366px) {
    .container-header-main  .main-content-header-left .main-content-header-list{
        display: none;
    }
}