.header {
    border-bottom: 1px solid #78909C;
    box-shadow: inset 0 -5px 5px -5px #78909C;
    margin: 0;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.header .container-header {
    /* Horizontally centers the content */
    /* Vertically centers the content */
    height: 80px;
    
    /* Ensure the container takes the full height */
}

.header-logo {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    /* Center the logo horizontally */
    align-items: center;
    /* Center the logo vertically */
}

.header-logo img {
    height: 50px;
    width: 210px;
}

.header .container-header .header-item {
    height: 80px;
}

.header .container-header .drop-menu .category-item {
    font-size: 1.2em !important;
    font-weight: 600;
    margin: 0 15px;
    position: relative;
    height: 80px;
}

.header .container-header .drop-menu .category-item:hover {
    color: #0693e3;
    cursor: pointer;
}

.header .container-header .drop-menu .category-item:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.3rem;
    height: 1.1rem;
    width: 1.1rem;
    display: inline-block;
    position: absolute;
    right: -21px;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    /* Center vertically and set initial rotation */
    transition: transform 0.2s ease-out;
    /* Smooth transition for transform property */
}

.header .container-header .drop-menu .category-item:hover:after {
    transform: translateY(-50%) rotate(90deg);
    /* Rotate 90 degrees on hover */
}

.header .container-header .drop-menu .dropdown .dropdown-menu {
    font-size: 0.9em !important;
    font-weight: bold !important;
    margin-top: 0;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    left: -20px;
    top: 80px;
}

.header .container-header .drop-menu .dropdown:hover .dropdown-menu {
    display: block;
}

.header .container-header .drop-menu .dropdown .dropdown-menu .dropdown-item {
    font-weight: 500;
}

.header .container-header .drop-menu .dropdown .dropdown-menu .dropdown-item:hover {
    color: #0693e3;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px);
    background-color: transparent;
}

.header .container-header .drop-menu .dropdown .dropdown-menu .dropdown-item i {
    margin-right: 10px;
}


.header .container-header .header-search {
    position: relative;
}

.header .container-header .header-search .header-search-show {
    margin-right: 30px;
}

.header-search .header-search-input {
    display: none;
    position: absolute;
    right: 19px;
    top: 57px;
    height: 37px;
    width: 270px;
    z-index: 1;
    transition: height 0.5s ease;
    overflow: hidden;
    animation: headerInputSearch ease-in 0.3s;
}

@keyframes headerInputSearch {
    from {
        opacity: 0;
        transform: translateY(0);
    }

    to {
        opacity: 1;
        transform: translateY(30px);
    }
}

.header-search .header-search-input .header-search-input-enter {
    width: 85%;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid #78909C;
}

.header-search .header-search-input .header-search-input-enter:focus {
    outline: none;
}

.header-search .header-search-show:hover {
    cursor: pointer;
}

.header-search .header-search-input .header-search-input-press {
    width: 18%;
    height: 32px;
    box-sizing: border-box;
    background-color: #78909C;
}

.header-search .header-search-input .header-search-input-press i {
    color: white;
    padding-left: 14px;
    padding-top: 15px;
}

.header-search .header-search-input .header-search-input-press i:hover {
    cursor: pointer;
}

.header-cart {
    position: relative;
}

.header-cart .header-cart-numbers {
    position: absolute;
    width: auto;
    height: auto;
    top: -11px;
    left: 23px;
    font-size: 0.9em;
    font-weight: 500;
    background-color: #EA5455;
    padding: 0px 3px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
}

.header-cart i {
    position: relative;
    margin-right: 30px;
}

.header-cart:hover {
    cursor: pointer;
}

.header-cart .header-cart-modal {
    display: none;
    width: 400px;
    height: auto;
    position: absolute;
    box-shadow: -5px 0 5px -5px #78909C,
        /* Bóng đổ bên trái */
        5px 0 5px -5px #78909C,
        /* Bóng đổ bên phải */
        0 5px 5px -5px #78909C;
    top: 57px;
    right: 0;
    border-radius: 5px;
    background-color: white;
    z-index: 1;
    cursor: default;
    box-sizing: border-box;
    border: 1px solid #78909C;
    transform-origin: 99% top;
    animation: headerNotifyGrowth ease-in 0.25s;
}

.header-cart .header-cart-modal-head {
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 500;
    padding: 5px 0;
    text-align: center;
}

.header-cart hr {
    margin: 0;
    border: none;
    /* Loại bỏ viền mặc định */
    height: 0;
    /* Đặt chiều cao để không làm ảnh hưởng đến phần tử */
    box-shadow: 0 0 0 1px #78909C;
}

.header-cart .card-cart {
    border-radius: unset;
}

.header-cart .card-cart .card-cart-item {
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.header-cart .card-cart .card-cart-item:first-child img {
    width: 90px;
    height: 60px;
}

.header-cart .header-cart-modal-total-money {
    margin: 0;
}

.header-cart .header-cart-modal .card-cart-seen-all {
    margin: 10px 18px;
    border-radius: 5px;
    color: #78909C;
}

.header-cart .header-cart-modal .card-cart-seen-all:hover {
    background-color: #78909C;
    cursor: pointer;
    color: white;
    font-weight: 400;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .header .container-header {
        /* Horizontally centers the content */
        /* Vertically centers the content */
        height: 110px;
        /* Ensure the container takes the full height */
    }

    .header .container-header .justify-content-between {
        height: 100%;
    }

    .header-item-mob .header-drop-items-mob {
        position: fixed;
        top: 0;
        left: -480px;
        /*bottom: 0;*/
        width: 480px;
        height: 100%;
        max-width: 100%;
        background-color: white;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
        z-index: 1;
    }

    .header-item-mob .active {
        left: 0;
    }

    .header-item-mob-item-sub {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-out;
    }

    .header-item-mob-item-sub.show {
        max-height: 500px;
        /* Adjust this value based on your content height */
    }

    .header-item-mob-item .header-item-mob-item-subs:hover {
        -webkit-transition: -webkit-transform .25s ease;
        transition: -webkit-transform .25s ease;
        transition: transform .25s ease;
        transition: transform .25s ease, -webkit-transform .25s ease;
        -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
        transform: translateX(5px);
    }

    .header-item-mob-item .header-item-mob-item-subs .rotate {
        transform: rotate(90deg);
        transition: transform 0.3s ease-out;
    }

    .header-item-mob-item .clicked {
        background-color: #F0F0F0;
        /* margin: 15px; */
        border-radius: 10px;
        color: #0693e3 !important;
    }
    .header-item-mob-item .clicked .i{
        margin-left: 15px;
    }
    .header-item-mob-item .header-item-mob-item-sub .header-item-mob-item-sub-item {
        margin-left: 18px;
        line-height: 30px;
        font-size: 1.7em;
    }

    .header-item-mob-item .header-item-mob-item-sub .header-item-mob-item-sub-item:hover {
        color: #0693e3;
    }

    .header-item-mob .header-drop-items-mob .close-header-drop-items-mob {
        position: absolute;
        top: 28px;
        right: 35px;
        font-size: 2.2em;
    }

    .header-item-mob .header-item-mob-menu {
        width: 100%;
        margin-top: 30px;
    }

    .header-item-mob .header-item-mob-menu .header-item-mob-item {
        position: relative;
        cursor: pointer;
        width: 90%;
    }

    .header-item-mob .header-item-mob-menu .header-item-mob-item a {
        color: black;
        font-size: 1.9em;
        text-decoration: none;
        display: block;
        padding: 14px 30px;
        line-height: 60px;
        font-weight: 400;
        margin-left: 20px;
    }

    .header-item-mob .header-item-mob-menu .header-item-mob-item i {
        margin-right: 15px;
    }

    .header-item-mob .header-drop-items-mob .close-header-drop-items-mob:hover {
        cursor: pointer;
        color: #0866FF;
    }

    .header-item-mob .header-item-mob-menu .header-item-mob-item a .dropdown {
        position: absolute;
        right: 0;
        margin: 20px;
        transition: 0.3s ease;
    }

    .header-item-mob .header-drop-items-mob .category-item-logo {
        height: 170px;
    }

    .header-item-mob .header-drop-items-mob .category-item-logo img {
        width: 296px;
        height: 108px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .header .fa-2x {
        font-size: 3em;
    }

   

    .header-cart .header-cart-numbers {
        top: -20px;
        left: 34px;
        font-size: 1.4em;
        padding: 0 7px;
    }

    .header-cart .header-cart-modal {
        top: 78px;
        right: 20px;
    }

    .header-search .header-search-input {
        top: 79px;
        right: 23px;
        height: 45px;
    }

    .header-search {
        display: none;
    }

    .header-search-mob .header-search-input {
        margin-right: 115px;
        position: relative;
    }

    .header-search-mob .header-search-input .header-search-input-enter {
        border-radius: 10px;
        width: 375px;
        height: 46px;
        border: 3px solid #78909C;
        font-size: 1.4em;
    }

    .header-search-mob .header-search-input .header-search-input-press {
        position: absolute;
        right: 13px;
        font-size: 1.8em;
    }

    .header-search-mob .header-search-input .header-search-input-press i:hover {
        color: #78909C;
        cursor: pointer;
    }

    .header .container-header .header-item {
        display: none;
    }

    
}

@media only screen and (min-width: 1025px) and (max-width: 1279px) {
    .header-item-mob {
        display: none;
    }
    .header-search-mob{
        display: none;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .header-item-mob {
        display: none;
    }
    .header-search-mob{
        display: none;
    }

    .header-logo img {
        width: 165px;
    }


    .header .container-header .header-search .header-search-show {
        margin-right: 10px;
    }

    .header-cart i {
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1366px) {
    .header-item-mob {
        display: none;
    }

    .header-search-mob {
        display: none;
    }

}