.main-content-search{
    margin-left: 10px;
}
.main-content-search i:hover{
    cursor: pointer;
}
.main-content-search .main-content-search-input{
    width: 0;
    border: none;
    height: 32px;
    transition: 0.5s ease;
}
.main-content-search  .focus{
    width: 260px;
}
.main-content-search .main-content-search-input:focus{
    outline: none;
}

.main-content-search i{
    font-size: 1.4em;
}