.main-content-title{
    margin: 0;
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: 600;
}
.container-content-action {
    background-color: white;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
}
.container-content-action .navbar-collapse .nav-item button{
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 160px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    background-color:#0693e3;
}
.container-content-action .navbar-collapse .nav-item button:focus{
    outline: none;
}
.container-content-action .navbar-collapse .nav-item button:hover{
    background-color: #0471af;
}