.header-notification {
    padding: 2px 5px;
    position: relative;
    margin-right: 30px;
}

.header-notification .header-notification-numbers {
    position: absolute;
    width: auto;
    height: auto;
    top: -8px;
    left: 20px;
    font-size: 0.9em;
    font-weight: 500;
    background-color: #EA5455;
    padding: 0px 3px;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
}

.header-notification:hover {
    background-color: #F2F2F2;
    border-radius: 50%;
    cursor: pointer;
}

.header-notification-modal {
    display: none;
    width: 400px;
    height: auto;
    position: absolute;
    box-shadow: -5px 0 5px -5px #78909C,
        /* Bóng đổ bên trái */
        5px 0 5px -5px #78909C,
        /* Bóng đổ bên phải */
        0 5px 5px -5px #78909C;
    top: 59px;
    background-color: white;
    right: 0;
    border-radius: 5px;
    z-index: 1;
    cursor: default;
    box-sizing: border-box;
    border: 1px solid #78909C;
    transform-origin: 99% top;
    animation: headerNotifyGrowth ease-in 0.25s;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header-notification-modal hr {
    margin: 0;
    border: none;
    /* Loại bỏ viền mặc định */
    height: 0;
    /* Đặt chiều cao để không làm ảnh hưởng đến phần tử */
    box-shadow: 0 0 0 1px #78909C;
}

.header-notification .header-notification-modal-header {
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 2.8rem;
    flex: 1;
}

.card-notification {
    border: none;
    border-radius: unset;
}

.header-notification-modal .card .card-header {
    background-color: white;
    height: 20px;
    border: none;
    padding: 0 1.25rem;
}

.header-notification-modal .card .card-header .card-title {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}

.header-notification-modal-header .header-notification-modal-title {
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 10px;
    margin: 0;
}

.header-notification-modal-header .header-notification-modal-read {
    font-size: 0.9em;
    font-weight: 400;
    padding-right: 10px;
}

.header-notification-modal-header .header-notification-modal-read:hover {
    cursor: pointer;
}

.header-notification .card-notification .card-body-notification-content {
    margin: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .03);
    padding: 10px 10px;
}

.header-notification .card-notification .card-body-notification-content:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0866FF;
    right: 29px;
    top: 38px;
    border-radius: 100%;
}

.header-notification .card-notification .card-body-notification-content .card-body-notification-content-title {
    font-weight: 500;
}

.header-notification .header-notification-modal .card-notification-seen-all {
    margin: 10px 18px;
    border-radius: 5px;
    color: #78909C;
}

.header-notification .header-notification-modal .card-notification-seen-all:hover {
    background-color: #78909C;
    cursor: pointer;
    color: white;
    font-weight: 400;
}
@media only screen and (max-width: 1024px) {
    .header-notification .header-notification-numbers {
        top: -17px;
        left: 23px;
        font-size: 1.4em;
        padding: 0 7px;
    }

    .header-notification-modal {
        top: 80px;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .header-notification {
        margin-right: 10px;
    }
}
