@charset "ISO-8859-1";
.user-check {
	background-image: url( 'svg/user-check.svg' );
	background-repeat: no-repeat;
    background-position: center;
}

.upload-cloud {
	background-image: url( 'svg/upload-cloud.svg' );
	background-repeat: no-repeat;
    background-position: center;
}

.hn-location {
	background-image: url( 'svg/location.svg' );
	background-repeat: no-repeat;
    background-position: center;
}

.hn-phone {
	background-image: url( 'svg/phone.svg' );
	background-repeat: no-repeat;
    background-position: center;
}