.main-content-form .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select{
    color: #495057 !important;
}
.main-content-form.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    border: none;
}
.main-content-form .MuiFormControl-root:focus{
    border-color: #80bdff !important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25) !important;
}
.main-content-form .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 1px solid #ced4da !important;
}
