 .dropdown-menu-action{
    top: -15px !important;
    left: 0 !important;
}
 .dropdown-menu .dropdown-item:hover{
    text-decoration: none;
    cursor: pointer;
}
.dropdown-menu .dropdown-item{
    width: auto;
    font-size: 0.9em;
}
.dropdown-menu .dropdown-item:hover{
    color: #0693e3;
}
@media only screen and (max-width: 1024px) {
    .dropdown-menu-action{
        top: -15px !important;
        left: -125px !important;
    }
}