.search-content-admin .container-content-search-advanced .container-content-search-advanced-item{
    display: flex;
    justify-content: start;
}
.search-content-admin .container-content-search-advanced .container-content-search-advanced-item .MuiFormControl-root{
    width: 100%;
}
.search-content-admin .container-content-search-advanced .container-content-search-advanced-item .MuiFormControl-root .MuiInputBase-root{
    height: 35px;
    margin: 5px 15px 20px 15px;
    text-align: start;
    color: #78909C;
    outline: none;
}
.search-content-admin .container-content-search-advanced .container-content-search-advanced-item .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    top: -3px;
    font-size: 0.9rem !important;
    left: 5px;
}
.container-content-search-advanced-item .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
    top: 5px !important;
    font-size: 1.1em !important;
    border:none;
    left: 10px !important;
   
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #0693e3 !important;
    border-style: solid;
    border-width:1px !important
}
.container-content-search-advanced-item .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-width: 1px !important;
    border-color: #0693e3 !important;
}
.search-content-admin .container-content-search-advanced .container-content-search-advanced-item select{
    width: 100%;
    margin:5px 15px 20px 15px;;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #0693e3;
    text-align: start;
    color: #78909C;
}
.search-content-admin .container-content-search-advanced .container-content-search-advanced-item select:focus{
    outline: none;
}
.search-content-admin .container-content-search-advanced .container-content-search-advanced-item select:hover{
    cursor: pointer;
}