.main-content-form-product{
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}
.main-content-form-product .card-form-product .card-header{
    background-color: white;
    border-bottom: none;
    font-weight: 500;
    font-size: 1.2em;
}
