.header-user {
    width: 80px;
}

.header-user .header-user-item {
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #78909C;
    padding-left: 16px;
    color: white;
    font-size: 1.6em;
}

.header-user .header-user-login {
    width: 80px;
    font-size: 1em !important;
    font-weight: 500;
}

.header-user .header-user-login:hover {
    cursor: pointer;
    color: #0693e3;
}
.header-user .dropdown-menu-user {
    top: 61px;
    left: -160px;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    animation-name: fadeDropUser
}

.header-user .dropdown-menu-user .dropdown-item:hover {
    color: #0693e3;
    cursor: pointer;
}

@keyframes fadeDropUser {
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }

    0% {
        -webkit-transform: translateY(1rem);
        transform: translateY(1rem);
        opacity: 0
    }
}
@media only screen and (max-width: 1024px) {
    .header-user .header-user-item {
        width: 50px;
        height: 50px;
        font-size: 1.8em;
        padding-left: 18px;
    }

    .header-user .dropdown-menu-user .dropdown-item {
        font-size: 1.6em;
        padding: .3rem 1.5rem;
    }

    .header-user {
        width: 50px;
    }

    .header-user .dropdown-menu-user {
        top: 78px;
        left: -254px;
    }
}