@charset "ISO-8859-1";
.custom-header-navbar {
	margin: 0px !important;
	width: 100% !important;
	height: 82px;
	background: #1A416E;
	border-radius: unset !important;
}

.logo {
    align-items: center;
    display: flex;
}

.menu-container {
	position: fixed;
	width: 100%;
	top: 82px;
	height: 44px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    background-color: #ffffff;
    z-index: 2;
}

.list-menu {
	height: 100%;
	margin-bottom: 0px;
	padding-left: 0px;
}

.list-menu li {
	height: 100%;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	cursor: pointer;
}

.list-menu li a {
	height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 20px 0 0;
    color: #6E6B7B;
}

.list-menu li a label {
	cursor: pointer;
}

.list-menu li a:hover {
	color: #1A416E;
	border-bottom: 3px solid #1A416E;
	transition: 0.1s;
}

.list-menu .active {
	color: #1A416E;
	border-bottom: 3px solid #1A416E;
}

html .content.app-content {
	padding: calc(4rem + 4.45rem + 2rem) 2rem 0;
}

.container-list-menu {
	height: 100%;
}

.cusstom-color-1a416e {
	background-color: #1A416e;
	border-color: #1a416e!important;
}

.custom-label-add-cart {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-align: center;
}

.custom-label-add-love-list {
	color: #565360;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-align: center;
}

.footer {
	padding: 20px 25px;
	background-color: #1a416e;
}

.footer .footer-logo {
	
}

.footer .copy-right {
	color: #fff;
	text-align: center;
}


@media only screen and (max-width: 992px) {
	.container-list-menu {
		margin-left: 0px;
	}	
}