
.main-content{
    width: 80%;
    background-color: #F5F5F5;
    height: 100%;
    margin-left: 20%;
}

@media only screen and (max-width: 1024px) {
    .main-content{
        width: 100%;
        margin: 0;
    }
    .container-header-main .navbar-collapse .navbar-nav{
        flex-direction:row;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1366px){

}
@media only screen and (min-width: 1366px) {

}